*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: wheat;
}
.container{
    padding: 10px;
    margin: 10px;
}
.title{
    background-color: rgb(207, 198, 198);
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.links{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
    margin: 0 auto;
}
.links a {

    width: 100%;
    padding: 8px;
    border-radius: 10px;
    color: white;
    text-decoration: none;


}
.linkedin{
    background-color: #0a66c2;
}
.linkedin:hover{
    background-color: #084b8d;
}
.github{
    background-color: #333;
}
.github:hover{
    background-color: #362828;
}
.credly{
    background-color: rgb(255 106 0);
}
.credly:hover{
    background-color: rgb(148, 66, 8);
}
.behance{
    background-color: #1769ff;
}
.behance:hover{
    background-color: #0d4ec8;
}
.kaggle{
    background-color: rgb(30, 112, 152);
}
.kaggle:hover{
    background-color: rgb(9, 71, 102);
}
.portfolio{
    background-color: black;
}
.youtube{
    background-color: #ff0000;
}
.youtube:hover{
    background-color: #980505;
}
.hackerrank{
    background-color: rgb(36, 115, 36);
}
.hackerrank:hover{
    background-color: rgb(13, 82, 13);
}
.codewars{
    background-color: rgb(178, 117, 5);
}
.codewars:hover{
    background-color: rgb(121, 80, 2);
}
.gmail{
    background-color: #4285f4;
}
.gmail:hover{
    background-color: #1261e0;
}

.whatsapp{
    background-color: #075e54;
}
.whatsapp:hover{
    background-color: #088d7d;
}
.duo{
    background-color: #8ee000;
}
.duo:hover{
    background-color: #629509;
}
.solo{
    background-color: #005670;
}
.solo:hover{
    background-color: #00205b;
}
.studocu{
    background-color: rgb(32, 9, 9);
}
.studocu:hover{
    background-color: rgb(40, 6, 6);
}
.dev{
    background-color:#0a0a0a;
}
.dev:hover{
    background-color:#221414;
}
@media (max-width:780px) {
    .links{
        width: 250px;
    }
}